
<h1>Add New Weather Details</h1>

<form class="form-group" action="/conditions" method="POST">
    <div class="form-group">
    <label>Date</label>
    <input class="form-control" type="datetime" name="conditions[date]" id = "conditions-date" />
  </div>
  <div class="form-group">
    <label>Max Temp (F)</label>
    <input class="form-control" type="integer" name="conditions[max_temperature_f]" id = "conditions-max_temperature_f"/>
  </div>
  <div class="form-group">
    <label>Mean Temp (F)</label>
    <input class="form-control" type="integer" name="conditions[mean_temperature_f]" id = "conditions-mean_temperature_f" />
  </div>
  <div class="form-group">
    <label>Min Temp (F)</label>
    <input class="form-control" type="integer" name="conditions[min_temperature_f]" id = "conditions-min_temperature_f" />
  </div>
  <div class="form-group">
    <label>Mean Humidity</label>
    <input class="form-control" type="integer" name="conditions[mean_humidity]" id = "conditions-mean_humidity" />
  </div>
  <div class="form-group">
    <label>Mean Visibility (miles)</label>
    <input class="form-control" type="integer" name="conditions[mean_visibility_miles]" id = "conditions-mean_visibility_miles" />
  </div>
  <div class="form-group">
    <label>Max Wind Speed (mph)</label>
    <input class="form-control" type="integer" name="conditions[max_wind_speed_mph]" id = "conditions-max_wind_speed_mph" />
  </div>
  <div class="form-group">
    <label>Precipatation (inches)</label>
    <input class="form-control" type="integer" name="conditions[precipitation_inches]" id = "conditions-precipitation_inches" />
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
