<form action="/trips" method="POST">
  <input type="float" name="trip[duration]">
  <input type="float" name="trip[start_station_id]">
  <input type="float" name="trip[end_station_id]">
  <input type="datetime" name="trip[start_date]">
  <input type="datetime" name="trip[end_date]">
  <input type="float" name="trip[bike_id]">
  <input type="text" name="trip[subscription_type]">
  <input type="float" name="trip[zip_code]">
  <input type="submit" value="Create Station">
</form>
