<h1>Create a New Trip</h1>
<form action="/trips" method="POST">
  <input class="edit_or_new_form" type="float" name="trip[duration]" placeholder="duration"><br>
  <input class="edit_or_new_form" type="float" name="trip[start_station_id]" placeholder="start_station_id"><br>
  <input class="edit_or_new_form" type="float" name="trip[end_station_id]" placeholder="end_station_id"><br>
  <input class="edit_or_new_form" type="datetime" name="trip[start_date]" placeholder="start_date"><br>
  <input class="edit_or_new_form" type="datetime" name="trip[end_date]" placeholder="end_date"><br>
  <input class="edit_or_new_form" type="float" name="trip[bike_id]" placeholder="bike_id"><br>
  <input class="edit_or_new_form" type="text" name="trip[subscription_type]" placeholder="subsription_type"><br>
  <input class="edit_or_new_form" type="float" name="trip[zip_code]" placeholder="zip_code"><br>
  <input class="edit_or_new_form" type="submit" value="Create Station">
</form>
