<form action = "/stations" method = "post">
  <input name = "stations[name]">
  <input name = "stations[dock_count]">
  <input name = "stations[city_id]">
  <input name = "stations[installation_date]">
  <input type = "submit" value = "Submit">
</form>
