
<h1>Add New Station</h1>

<form class="form-group" action="/stations" method="POST">
    <div class="form-group">
    <label>Station Name</label>
    <input class="form-control" type="text" name="stations[name]">
  </div>
  <div class="form-group">
    <label>Dock Count</label>
    <input class="form-control" type="integer" name="stations[dock_count]">
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" name="stations[city_id]">
  </div>
  <div class="form-group">
    <label>Installation Date</label>
    <input class="form-control" type="datetime" name="stations[installation_date]">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
