<form action="/stations" method="POST">
  <input type="text" name="station[name]">
  <input type="integer" name="station[dock_count]">
  <input type="integer" name="station[city_id]">
  <input type="date" name="station[installation_date]" value="YYYY/MM/DD">
  <input type="submit" value="Create Station">
</form>
