body {
  background-image: url("./bicycle.jpg");
  background-size:cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.titled {
  text-align: center;
}

.titled > form > input {
  background:white;
  border:none;
  border-radius: 10px;
}

.navbar {
  background:none;
  border: none;
}

.navbar-text {
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
  padding-left: 10px;
}

tr {
  color: white;
}

table {
  margin-left:auto;
  margin-right:auto;
}

h1 {
  font-family: 'Bungee', cursive;
  color: white;
}

h3 {
  color:white;
}

.button_row {
  font-family: 'Bungee', cursive;
  font-weight:900;
}

input {
  background:white;
  text-align: center;
}

p {color:white}

a {
  border:none;
  background:none;
  color: white;
}

i {
  color: white;
  opacity: 0.5;
  margin-right: 10px;
}

.splash {
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-top: 15%;
  font-size: 50px;
  width: 30%;
}

.button_row > form > input {
  border:none;
  background:none;
  color:white;
  padding:0px;
}

.station_object {
  /*background:radial-gradient(ellipse at center, #ffffff 0%,#add8e6 55%);;*/
  padding:10px;
  border-radius: 50%;
  color: white;
}

.edit_or_new_form {
  margin:10px;
  border-radius:10px;
  border: 1px solid white;
}

.station_title { 
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  padding:5px;
  font-weight:bold;
  background:white;
  opacity: 0.9;
  border-radius:10px;
  color:black;
}
