<!DOCTYPE html>
<html>
  <head>
    <title>Bike-Share</title>
    <meta name="viewport" content="width=device-width, initial-scaled=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <%= yield %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
